USE [master]
GO
/****** Object:  Database [hibernateDB2]    Script Date: 2022/9/6 下午 07:22:46 ******/
CREATE DATABASE [hibernateDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hibernateDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hibernateDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hibernateDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hibernateDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hibernateDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hibernateDB2]
GO
/****** Object:  Table [dbo].[books]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booktitle] [varchar](255) NULL,
	[publicYear] [varchar](255) NULL,
	[fk_user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookUsers]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[deptid] [int] IDENTITY(1,1) NOT NULL,
	[deptname] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[deptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_name] [varchar](255) NULL,
	[salary] [int] NULL,
	[vacation] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[friend_group]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[friend_group](
	[fk_group_id] [int] NOT NULL,
	[fk_friend_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fk_group_id] ASC,
	[fk_friend_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[friends]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[friends](
	[friends_id] [int] IDENTITY(1,1) NOT NULL,
	[friendName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[friends_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[groups_id] [int] IDENTITY(1,1) NOT NULL,
	[groupName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[groups_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructor]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[instructorName] [varchar](255) NULL,
	[fk_instructorDetail_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructorDetail]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructorDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member]    Script Date: 2022/9/6 下午 07:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[member_name] [varchar](255) NULL,
	[member_pwd] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[member] ON 

INSERT [dbo].[member] ([id], [member_name], [member_pwd]) VALUES (1, N'jerry', N'1234')
SET IDENTITY_INSERT [dbo].[member] OFF
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK1v1dqydph2i2j2uoags4i7swd] FOREIGN KEY([fk_user_id])
REFERENCES [dbo].[bookUsers] ([id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK1v1dqydph2i2j2uoags4i7swd]
GO
ALTER TABLE [dbo].[friend_group]  WITH CHECK ADD  CONSTRAINT [FKbcliaiskfijfkvvp3esl4g2bt] FOREIGN KEY([fk_friend_id])
REFERENCES [dbo].[friends] ([friends_id])
GO
ALTER TABLE [dbo].[friend_group] CHECK CONSTRAINT [FKbcliaiskfijfkvvp3esl4g2bt]
GO
ALTER TABLE [dbo].[friend_group]  WITH CHECK ADD  CONSTRAINT [FKf105g7fu03pn4hy5sihbv82m9] FOREIGN KEY([fk_group_id])
REFERENCES [dbo].[groups] ([groups_id])
GO
ALTER TABLE [dbo].[friend_group] CHECK CONSTRAINT [FKf105g7fu03pn4hy5sihbv82m9]
GO
ALTER TABLE [dbo].[instructor]  WITH CHECK ADD  CONSTRAINT [FK9cibu80o6av3oq86q26k45mak] FOREIGN KEY([fk_instructorDetail_id])
REFERENCES [dbo].[instructorDetail] ([id])
GO
ALTER TABLE [dbo].[instructor] CHECK CONSTRAINT [FK9cibu80o6av3oq86q26k45mak]
GO
USE [master]
GO
